.headerBlog {
    background: url(../assets/textilee-assets/blog-header.jpg) center;
    background-size: cover;
    height: 70vh;
}
.headerBlog h1 {
    padding-top: 80px;
}
.blogMain {
    background: $lightskyblue;
   
}
.blogWrapper {
    width: 50%;
    margin: 0 10%;
    max-width: 1400px;
}
.articleWrapper {
    margin: 0 10%;
    max-width: 1400px;
    width: 85%;
}

.blogPost {
    background: $thirdblue;
    width: 65%;
    box-shadow: 10px 10px $turquoiseblue;
}
.blogPost img {   
    width: 100%;
    box-shadow: 10px 20px $turquoiseblue;
    margin-top: -100px;
}
.blogText {
    padding: 50px 0px 60px 60px;
}
.blogText h3 {
    text-align: left;
}

.blogText p {
    color: $white;
    padding: 20px 0;
}
.blogText p:first-of-type {
    color: $lightskyblue;
    padding-top: 10px;
}

.topText {
    display: flex;
    justify-content: space-between;

}
aside {
    width: 20%;
    background: $thirdblue;
    height: 30%;
    text-align: left;
    margin-top: 10%;
}
.missionRecentPosts {
    position: relative;
}
.missionText {
    padding: 325px 15px 10px 15px;
}
.missionRecentPosts img {
    width: 95%;
    position: absolute;
    left: 5%;
    top: -2%;
    
}
.missionRecentPosts h3 {
text-align: left;
}
.missionRecentPosts p, li {
    color: $white;
    
  
}
.comments {
    display: flex;
    flex-direction: column;
}
.comments h4 {
    padding: 60px 0;
}
.commentAndPicture {
    display: flex;
    padding-bottom: 100px
}
.commentAndPicture:nth-of-type(2){
    padding-bottom: 25px;
}
.commentAndPicture img {
    height: fit-content;
    padding-right: 40px;
}
.commentAndPicture i {
    height: fit-content;
    padding-right: 25px;
}
.commentForm input {
    width: calc(45% - 3px);
    background: $lightskyblue;
    border-top: 1px solid $lightskyblue;
    border-right: 1px solid $lightskyblue;
    border-left: 1px solid $lightskyblue;
    border-bottom: 2px solid $turquoiseblue;
    padding: 20px 10px 10px 30px;
}
.commentForm input:first-of-type {
    margin-right: 10%;
    margin-bottom: 20px;
}
.commentForm input:nth-of-type(3) {
    width: 100%;
    border: 2px solid $turquoiseblue;
    border-radius: 1%;
    padding-bottom: 100px;
    margin-bottom: 20px;
}
.date {
    color: $thirdblue;
    padding-bottom: 15px;
}
.comments {
    padding-bottom: 100px;
}
.commentForm {
    background: $lightskyblue;
}
.commentButton {
    width: 100%;
    &:hover {
        background: $blacktwo;
        color: $lightskyblue;
    }
}
.fa-user-circle {
    font-size: 65px;
}
.newPost {
    padding: 60px 0;
}
@media  (max-width: 1000px) {
    aside {
        width: 30%;
    }
}
@media (max-width: 750px) {
    h1 {
        margin-top: 10%;
    }
    h6 {
        font-size: 38px;
        padding: 22px 0px;
    }
    aside {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .topText {
        flex-direction: column-reverse;
    }
    .missionText ul {
        padding-bottom: 25px;
    }
    .missionText ul, .missionText p {
        width: 65%;
        margin: 0 auto;
    }
    .missionRecentPosts img {
        width: 40%;
        left: 30%;
        top: 5%;
    }
    .missionRecentPosts h3 {
        text-align: center;
    }
    .missionText {
        padding: 350px 15px 10px 15px;
    }
    .blogPost img {
        margin-top: 0px;
    }
    .blogPost {
        width: 100%;
    }
    .blogText {
        padding: 30px 0px 40px 0px;
    }
    .blogWrapper {
        width: 80%;
    }
}
@media (max-width: 450px) {
    h1 {
        margin-top: 40%;
        text-align: center;
    }
    .headerBlog {
        height: 85vh;
    }
    .blogPost {
        box-shadow: none;
    }
    .blogPost img {
        box-shadow: none;
    }
    .missionText {
        padding: 225px 15px 10px 15px;
    }
    .commentAndPicture {
        padding-bottom: 50px;
        flex-direction: column;
    }
    .commentAndPicture img {
        margin-left: 80px;
        width: 50%;
        padding-bottom: 30px;
    }
    .comments h4 {
        text-align: center;
    }
    .commentForm input {
        font-size: 14px;
    }
    
}