.headerHome {
    background: url(../assets/textilee-assets/header-home.jpg) center;
    background-size: cover;
}
header h1 {
    width: 50%;
    
}
.threadsDiv {
    position: relative;
}
.threadsImg {
    position: absolute;
    top: 50px;
    width: 60%;
}

.learnSection {
    background: #CCEDFB;
}
.learnFlex {
    display: flex;
    padding-top: 200px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: space-between;
}
.learnText {
    width: 65%;
}
.learnText h2 {
    margin-bottom: 10px;
    margin-top: 70px;
    color: #1A315C;
}
.learnText p {
    padding-bottom: 20px;
    color: black;
}

.learnImgDiv {
    width: 25%;
    margin-top: 7%;
    position: relative;
    
}
.learnImgDiv::before {
    content: '';
    background: #0CADC0;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    right: 5%;
    top: 5%;
}
// .learnImgDiv::after {
//     content: '';
//     background: #0CADC0;
//     height: 18px;
//     width: 90%;
//     display: block;
//     position: absolute;
    
//     top: 100%;
// }
.learnImg {
    max-width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}
.gallerySection {
    background: rgb(25,64,80);
}
.galleryFlex {
    display: flex;
    padding: 80px 0;

}
.galleryImg{
    width: calc(33%);
    padding-right: 20px;
}
.galleryImg:last-of-type {
    padding-right: 0px;
    width: calc(33% - 20px)
}
.galleryImg img {
    width: 100%;
}
.activitiesSection {
    background: #CCEDFB;
}
.activitiesFlex {
    display: flex;
    
}
.activitiesFlex:nth-of-type(1) {
    padding: 80px 0 20px 0;
}
.activitiesFlex:nth-of-type(2) {
    padding: 0px 0 80px 0;
}

.activity {
    display: flex;
    width: 50%;
    padding-right: 30px;
}
.activity:nth-of-type(evens) {
    padding-right: 0px;
}
.activityText {
    margin-left: 20px;
}
.activity i {
    font-size: 30px;
    background: #0CADC0;
    border-radius: 50%;
    min-width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    margin-top: 5px;
}
.activity h2 {
   margin-top: 0px; 
     
}
.locationsSection {
    background: rgb(25,64,80);
}
.locationsSection p, h3 {
    color: white;
    
}
.locationsFlexTop {
    padding-top: 20px;
    margin-bottom: 20px;
}
.locationsFlexBottom {
    padding-bottom: 40px;
}
.marketFlex {
    display: flex;
    position: relative;
    
}
.locationImgLeft, 
.locationImgRight {
    position: absolute;
}
.locationImgLeft {
    margin-top: 10px;
    bottom: 2%;
    right: 58%;
    width: 55%;
}
.locationImgRight {
    top: 10%;
    left: 60%;
    width: 53%;
}

// .locationImgLeft::before {
//     content: '';
//     background: #0CADC0;
//     height: 100%;
//     width: 100%;
//     display: block;
//     position: absolute;
//     left: 5%;
//     top: 5%;
// }
.marketText h2 {
    margin-bottom: 10px;
}
.marketText h3 {
    margin: 10px 0;
}
.marketText p {
    margin-top: 0px;
}
.marketTextRight {
    position: relative;
    width: 45%;
    left: 60%;
}
.marketTextRight h3 {
    text-align: left;
}
.marketTextLeft {
    position: relative;
    width: 45%;
    text-align: right;
    margin-top: 50px;
    padding-bottom: 50px;
    right: 3%;
}
.yarnBanner {
    background: url("../assets/textilee-assets/banner.jpg") center;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.styleSearch {
    padding: 125px 0;
    background: #CCEDFB;
}
.styleText {
    text-align: center;
}
.styleText p {
    color: black;
    margin-top: 15px;
}
.styleText h2 {
    margin-bottom: 0px;
}
@media (max-width: 1000px) {
    .threadsImg {
        top: 130px;
    }
    .learnFlex {
        flex-direction: column-reverse;
        padding-top: 10px;
    }
    .learnImgDiv {
        width: 100%;
    }
    .learnImg {
        margin-left: 25%;
        width: 50%;
        margin-top: 100px;
    }
    .learnImgDiv::before {
        visibility: hidden;
    }
    .learnText {
        width: 100%;
        text-align: center;
    }
    .learnText h2 {
        margin-top: 20px;
    }
    .activity {
        padding-right: 30px;
    }
    .marketFlex {
        flex-direction: column;
    }
    .marketFlexBottom {
        flex-direction: column-reverse;
    }
    .locationImgLeft, .locationImgRight {
        position: relative;
        width: 100%;
    }
    .locationImgLeft {
        top: 0px;
        left: 0px;
    }
    .locationImgRight {
        right: 0;
        left: 0;
        top: 15px;
    }
    .marketText {
        text-align: center;
    }
    .marketTextLeft, .marketTextRight {
        width: 100%;
        text-align: center;
    }
    .marketTextRight {
        left: 0;
    }
    .marketTextRight h3 {
    text-align: center;
    }
    .marketTextLeft {
        right: 0;
        margin-top: 10px;
    }
    .styleSearch {
        padding: 25px 0;
    }
    .styleText h2 {
        margin-top: 0;
    }
}
@media (max-width: 700px) {
    .activitiesFlex {
        flex-direction: column;
    }
    .activity {
        width: 100%;
    }
}
@media (max-width: 450px) {
   .threadsImg {
       top: 275px;
   }
   
   .headerHome {
       background-size: cover;
       background-position-x: -750px;
   }
   .galleryImg {
       padding-right: 10px;
   }

}