.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 25px;
}

nav {
    width: 40%;
    ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        li {
            list-style-type: none;
            a {
                color: $darkslateblue;
                text-decoration: none;
                text-transform: uppercase;
                margin-right: 30px;
                position: relative;

                // add hover to a:focus, a:hover pseudo object after
                &:hover:after,
                &:focus:after {
                   content: "";
                    background: $turquoiseblue;
                    height: 3px;
                    width: 70%;
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 15%;
                }
            }

            
        }
    }    
}
.activePage:after {
    content: "";
    background: $turquoiseblue;
    height: 3px;
    width: 70%;
    display: block;
    position: absolute;
    top: 100%;
    left: 15%;
}
.fa-bars{
    visibility: hidden;
    color: $blacktwo;
}
@media (max-width: 1000px) {
    .headerFlex {
        align-items: center;
    }
}
@media (max-width: 450px) {
     nav ul {
        visibility: hidden;
    }
    .fa-bars {
        visibility: visible;
        position: absolute;
        top: 35px;
        right: 25px;
        font-size: 35px;
        transform: scale(1.7,1);
        
        
    }
    
}