//Header Heading (Get in.., Blog)
// Pacifico regular 68px, Line Height 64px

//Heading (Textiles for all..)
// Pacifico regular 58px, Line height 68px
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 58px;
    line-height: 68px;
    font-weight: normal;
    color: #1A315C;
}
// Headings (Learn new.., Upcoming.., Communi.., Blog..)
// Pacifico regular 43px, line height 58px, line spacing 2.7px

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 43px;
    line-height: 58px;
    font-weight: normal;
    letter-spacing: 2.7px;
    color: #1A315C;
    
}
// Headings (Comments)
// PAcifico regular 40px, letter spacing 4.3px

// Headings (Discover.., New locat..)
// Pacifico regular 40px, align right, line height 58px, letter spacing 2.5px

// Headings (Our missions, Recent Pos..)
// Pacifico regular 35px, letter spacing 2.9px

// Logo 
// Pacifico regular 30px, line height 24px, letter spacing 1.7px

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 1.7px;
}
// buttons 
// Pacifico regular 27px, center align, line height 32px, letter spacing 1.4px
button {
    font-family: 'Pacifico', cursive;
    font-size: 27px;
    font-weight: normal;
    line-height: 32px;
    letter-spacing: 1.4px;
    text-align: center;
    background-color: #1A315C;
    color: white;
    border: none;
    padding: 6px 35px 10px 35px;
    text-align: center;
}

// Nav 
// Lato bold 20px, center align, line height 29px, letter spacing 1.4px
nav {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1.4px;
}

// body 
// Lato regular 20px, line height 28px, letter spacing 2px
p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 2px;
}