//font faces and colours
// Dark Slate Blue #1A315C
// Black #1E1713
// Turquoise Blue #0CADC0
// Light Sky Blue #CCEDFB 
// Black Two #161515
// White #FFFFFF
// Third blue rgb(25,64,80)

//
//variables
$darkslateblue: #1A315C;
$black: #1E1713;
$turquoiseblue: #0CADC0;
$lightskyblue: #CCEDFB;
$blacktwo: #161515;
$white: #ffffff;
$thirdblue: rgb(25,64,80);



@import "normalize";
@import "nav";
@import "typography";
@import "home";
@import "blog";

html {
    font-size: 125%;
}

//common element styling
header h1 {
    width: 50%;
    color: $darkslateblue;
}
.wrapper {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}
.header {
    
    width: 100%;
    background-repeat: no-repeat;
    
}
footer {
    background: black;
    color: white;
    text-align: center
}
footer p {
    margin: 0;
}