//font faces and colours
// Dark Slate Blue #1A315C
// Black #1E1713
// Turquoise Blue #0CADC0
// Light Sky Blue #CCEDFB 
// Black Two #161515
// White #FFFFFF

//

@import "normalize";
@import "nav";
@import "typography";
@import "home";


//homepage styling
.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}
.header {
    height: 95vh;
    width: 100%;
    background-repeat: no-repeat;
    
}
