@import 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap';
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, p {
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 25px;
}

nav {
  width: 40%;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  color: #1A315C;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
  position: relative;
}
nav ul li a:hover:after, nav ul li a:focus:after {
  content: "";
  background: #0CADC0;
  height: 3px;
  width: 70%;
  display: block;
  position: absolute;
  top: 100%;
  left: 15%;
}

.activePage:after {
  content: "";
  background: #0CADC0;
  height: 3px;
  width: 70%;
  display: block;
  position: absolute;
  top: 100%;
  left: 15%;
}

.fa-bars {
  visibility: hidden;
  color: #161515;
}

@media (max-width: 1000px) {
  .headerFlex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 750px) {
  nav ul li a {
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  nav ul {
    visibility: hidden;
  }

  .fa-bars {
    visibility: visible;
    position: absolute;
    top: 35px;
    right: 25px;
    font-size: 35px;
    -webkit-transform: scale(1.7, 1);
            transform: scale(1.7, 1);
  }
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 68px;
  line-height: 64px;
  color: #1A315C;
}

h2 {
  font-family: "Pacifico", cursive;
  font-size: 58px;
  line-height: 68px;
  font-weight: normal;
  color: #1A315C;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 43px;
  line-height: 58px;
  font-weight: normal;
  letter-spacing: 2.7px;
  color: #1A315C;
}

h4 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  letter-spacing: 4.3px;
  color: #161515;
}

h5 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  font-weight: normal;
  text-align: right;
  line-height: 58px;
  letter-spacing: 2.5px;
}

h6 {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  letter-spacing: 2.9px;
  color: #ffffff;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 1.7px;
}

button {
  font-family: "Pacifico", cursive;
  font-size: 27px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 1.4px;
  text-align: center;
  background-color: #1A315C;
  color: #ffffff;
  border: none;
  padding: 6px 35px 10px 35px;
  text-align: center;
}

nav {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
}

p, .missionText ul {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 2px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 28px;
  }

  p, .missionText ul {
    font-size: 16px;
  }

  button {
    font-size: 20px;
  }

  h3 {
    font-size: 25px;
    text-align: center;
  }

  nav {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 38px;
  }
}
.headerHome {
  background: url(../assets/textilee-assets/header-home.jpg) center;
  background-size: cover;
  height: 95vh;
}

.threadsDiv {
  position: relative;
}

.threadsImg {
  position: absolute;
  top: 50px;
  width: 60%;
}

.learnSection {
  background: #CCEDFB;
}

.learnFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.learnText {
  width: 65%;
}

.learnText h3 {
  margin-bottom: 10px;
  margin-top: 70px;
  color: #1A315C;
}

.learnText p {
  padding-bottom: 20px;
  color: #161515;
}

.learnImgDiv {
  width: 25%;
  margin-top: 7%;
  position: relative;
}

.learnImgDiv::before {
  content: "";
  background: #0CADC0;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  right: 5%;
  top: 5%;
}

.learnImg {
  max-width: 100%;
  position: relative;
  z-index: 1;
  display: block;
}

.gallerySection {
  background: #194050;
}

.galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

.galleryImg {
  width: calc(33%);
  padding-right: 20px;
}

.galleryImg:last-of-type {
  padding-right: 0px;
  width: calc(33% - 20px);
}

.galleryImg img {
  width: 100%;
}

.activitiesSection {
  background: #CCEDFB;
}

.activitiesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activitiesFlex:nth-of-type(1) {
  padding: 80px 0 20px 0;
}

.activitiesFlex:nth-of-type(2) {
  padding: 0px 0 180px 0;
}

.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 30px;
}

.activity:nth-of-type(evens) {
  padding-right: 0px;
}

.activityText {
  margin-left: 20px;
}

.activity i {
  font-size: 30px;
  background: #0CADC0;
  border-radius: 50%;
  min-width: 55px;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  margin-top: 5px;
}

.activity h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #1A315C;
}

.locationsSection {
  background: #194050;
}

.locationsSection p, h3 {
  color: #ffffff;
}

.locationsFlexTop {
  padding-top: 20px;
  margin-bottom: 20px;
}

.locationsFlexBottom {
  padding-bottom: 40px;
}

.marketFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.locationImgLeft,
.locationImgRight {
  position: absolute;
}

.locationImgLeft {
  margin-top: 10px;
  bottom: 2%;
  right: 58%;
  width: 55%;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0;
}

.locationImgRight {
  top: 10%;
  left: 60%;
  width: 53%;
  -webkit-box-shadow: -20px 20px #0CADC0;
          box-shadow: -20px 20px #0CADC0;
}

.marketText h5 {
  margin-bottom: 10px;
  margin: 10px 0;
  color: white;
}

.marketText p {
  margin-top: 0px;
}

.marketText button {
  color: #1A315C;
  background: #CCEDFB;
}

.marketTextRight {
  position: relative;
  width: 45%;
  left: 60%;
}

.marketTextRight h5 {
  text-align: left;
}

.marketTextLeft {
  position: relative;
  width: 45%;
  text-align: right;
  margin-top: 50px;
  padding-bottom: 50px;
  right: 3%;
}

.yarnBanner {
  background: url("../assets/textilee-assets/banner.jpg") center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.styleSearch {
  padding: 125px 0;
  background: #CCEDFB;
}

.styleText {
  text-align: center;
}

.styleText p {
  color: #161515;
  margin-top: 15px;
}

.styleText h3 {
  margin-bottom: 0px;
  color: #1A315C;
}

@media (max-width: 1000px) {
  .threadsImg {
    top: 130px;
  }

  .learnFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 10px;
  }

  .learnImgDiv {
    width: 100%;
  }

  .learnImg {
    margin-left: 25%;
    width: 50%;
    margin-top: 100px;
  }

  .learnImgDiv::before {
    visibility: hidden;
  }

  .learnText {
    width: 100%;
    text-align: center;
  }

  .learnText h3 {
    margin-top: 20px;
  }

  .activity {
    padding-right: 30px;
  }

  .marketFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .marketFlexBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .locationImgLeft, .locationImgRight {
    position: relative;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .locationImgLeft {
    top: 0px;
    left: 0px;
  }

  .locationImgRight {
    right: 0;
    left: 0;
    top: 15px;
  }

  .marketText {
    text-align: center;
  }

  .marketTextLeft, .marketTextRight {
    width: 100%;
    text-align: center;
  }

  .marketTextRight {
    left: 0;
  }

  .marketText h5,
.marketTextRight h5 {
    text-align: center;
  }

  .marketTextLeft {
    right: 0;
    margin-top: 10px;
  }

  .styleSearch {
    padding: 25px 0;
  }

  .styleText h3 {
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  .activitiesFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .activity {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .threadsImg {
    display: none;
  }

  .header h2 {
    padding-top: 50px;
  }

  .headerHome {
    background-size: cover;
    background-position-x: -750px;
  }

  .learnText h3 {
    margin-top: 30px;
  }

  .learnImg {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }

  .galleryImg {
    padding-right: 10px;
    width: 50%;
  }

  .galleryImg:last-of-type {
    display: none;
  }

  .activity {
    margin-top: 40px;
  }

  .activityText {
    margin-left: 0px;
  }

  .activitiesFlex:nth-of-type(2) {
    padding: 0 0 80px 0;
  }

  .marketText button, .styleText button {
    margin: 20px 0;
  }
}
.headerBlog {
  background: url(../assets/textilee-assets/blog-header.jpg) center;
  background-size: cover;
  height: 70vh;
}

.headerBlog h1 {
  padding-top: 80px;
}

.blogMain {
  background: #CCEDFB;
}

.blogWrapper {
  width: 50%;
  margin: 0 10%;
  max-width: 1400px;
}

.articleWrapper {
  margin: 0 10%;
  max-width: 1400px;
  width: 85%;
}

.blogPost {
  background: #194050;
  width: 65%;
  -webkit-box-shadow: 10px 10px #0CADC0;
          box-shadow: 10px 10px #0CADC0;
}

.blogPost img {
  width: 100%;
  -webkit-box-shadow: 10px 20px #0CADC0;
          box-shadow: 10px 20px #0CADC0;
  margin-top: -100px;
}

.blogText {
  padding: 50px 0px 60px 60px;
}

.blogText h3 {
  text-align: left;
}

.blogText p {
  color: #ffffff;
  padding: 20px 0;
}

.blogText p:first-of-type {
  color: #CCEDFB;
  padding-top: 10px;
}

.topText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside {
  width: 20%;
  background: #194050;
  height: 30%;
  text-align: left;
  margin-top: 10%;
}

.missionRecentPosts {
  position: relative;
}

.missionText {
  padding: 325px 15px 10px 15px;
}

.missionRecentPosts img {
  width: 95%;
  position: absolute;
  left: 5%;
  top: -2%;
}

.missionRecentPosts h3 {
  text-align: left;
}

.missionRecentPosts p, li {
  color: #ffffff;
  padding-left: 10px;
  padding-bottom: 10px;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments h4 {
  padding: 60px 0;
}

.commentAndPicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.commentAndPicture:nth-of-type(2) {
  padding-bottom: 25px;
}

.commentAndPicture img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 40px;
}

.commentForm input {
  width: calc(45% - 3px);
  background: #CCEDFB;
  border-top: 1px solid #CCEDFB;
  border-right: 1px solid #CCEDFB;
  border-left: 1px solid #CCEDFB;
  border-bottom: 2px solid #0CADC0;
  padding: 20px 10px 10px 30px;
}

.commentForm input:first-of-type {
  margin-right: 10%;
  margin-bottom: 20px;
}

.commentForm input:nth-of-type(3) {
  width: 100%;
  border: 2px solid #0CADC0;
  border-radius: 1%;
  padding-bottom: 100px;
  margin-bottom: 20px;
}

.date {
  color: #194050;
  padding-bottom: 15px;
}

.comments {
  padding-bottom: 100px;
}

.commentForm {
  background: #CCEDFB;
}

.commentButton {
  width: 100%;
}

@media (max-width: 1000px) {
  aside {
    width: 30%;
  }
}
@media (max-width: 750px) {
  h1 {
    margin-top: 10%;
  }

  h6 {
    font-size: 25px;
  }

  aside {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .topText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .missionRecentPosts img {
    width: 40%;
    left: 30%;
    top: 2%;
  }

  .missionRecentPosts h3 {
    text-align: center;
  }

  .missionText {
    padding: 340px 15px 10px 15px;
  }

  .blogPost img {
    margin-top: 0px;
  }

  .blogPost {
    width: 100%;
  }

  .blogText {
    padding: 30px 0px 40px 0px;
  }

  .blogWrapper {
    width: 80%;
  }
}
@media (max-width: 450px) {
  h1 {
    margin-top: 40%;
    text-align: center;
  }

  .headerBlog {
    height: 85vh;
  }

  .blogPost {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .blogPost img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .missionText {
    padding: 225px 15px 10px 15px;
  }

  .commentAndPicture {
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .commentAndPicture img {
    margin-left: 80px;
    width: 50%;
    padding-bottom: 30px;
  }

  .comments h4 {
    text-align: center;
  }

  .commentForm input {
    font-size: 14px;
  }
}
.headerContact {
  background: url("../assets/textilee-assets/contact-header.jpg") center;
  background-size: cover;
  height: 70vh;
}

.headerContact h1 {
  padding-top: 80px;
}

.formInfo {
  background: #CCEDFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 40px;
}

.contactForm {
  background: #194050;
  width: 60%;
  padding: 60px 60px;
  margin-top: -250px;
  -webkit-box-shadow: 18px 18px #0CADC0;
          box-shadow: 18px 18px #0CADC0;
}

.info {
  width: 20%;
  margin-top: 5%;
}

.contactForm input:first-of-type {
  margin-right: 10%;
}

.contactForm input:nth-of-type(3) {
  width: 100%;
  border: 2px solid #0CADC0;
  border-radius: 1%;
  padding-bottom: 200px;
}

.contactInput {
  color: #ffffff;
  background: #194050;
  width: calc(45% - 3px);
  border-top: 1px solid #194050;
  border-right: 1px solid #194050;
  border-left: 1px solid #194050;
  border-bottom: 2px solid #0CADC0;
  padding: 30px 10px 20px 30px;
  margin-bottom: 60px;
}

.contactForm button {
  width: 100%;
  background: #CCEDFB;
  color: #1A315C;
}

.symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.symbols i {
  margin-right: 35px;
}

.info p:first-of-type {
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .formInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info {
    width: 100%;
    margin-top: 10%;
    text-align: center;
  }

  .symbols {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 25px;
  }

  .contactForm {
    width: 100%;
  }

  .contactInput {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .headerContact h1 {
    width: 100%;
    padding-top: 0px;
  }

  .contactForm {
    padding: 20px 20px;
  }

  .contactInput {
    padding: 10px 5px 5px 5px;
    margin-bottom: 20px;
  }

  .contactInput:nth-of-type(3) {
    padding: 10px 5px 150px 5px;
  }
}
html, body {
  overflow-x: hidden;
}

html {
  font-size: 125%;
}

header h2 {
  width: 62%;
  color: #1A315C;
}

.wrapper {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-repeat: no-repeat;
}

footer {
  background: #1E1713;
  color: #ffffff;
  text-align: center;
}

footer p {
  margin: 0;
}